Main/Sandcastle/Builders/Schemas/ConceptualContent.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="conceptualContent">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="categories" type="categoriesType" minOccurs="0" maxOccurs="1">
                </xs:element>
                <xs:element name="properties" type="propertiesType" minOccurs="0" maxOccurs="1">
                </xs:element>
                <xs:element name="items" type="itemsType" maxOccurs="1" minOccurs="1">
                </xs:element>
            </xs:sequence>
            <xs:attribute name="version" type="xs:float" use="required" />
        </xs:complexType>
        <!--Make the key of each property tag unique -->
        <xs:unique name="property">
            <xs:selector xpath="*/property" />
            <xs:field xpath="@key" />
        </xs:unique>
        <!--Make the id of each item tag unique -->
        <xs:unique name="item">
            <xs:selector xpath=".//item" />
            <xs:field xpath="@id" />
        </xs:unique>
    </xs:element>
    <xs:complexType name="categoriesType">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="category">
                <xs:complexType>
                    <xs:attribute name="name" type="xs:ID" use="required" />
                    <xs:attribute name="description" type="xs:string" use="required" />
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="propertiesType">
        <xs:sequence>
            <xs:element name="property" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                    <xs:attribute name="key" type="xs:string" use="required" />
                    <xs:attribute name="value" type="xs:string" use="required" />
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="itemsType">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="item" type="itemType" minOccurs="0">
            </xs:element>
        </xs:sequence>
        <xs:attribute name="default" type="guidType" use="optional" />
    </xs:complexType>
    <xs:complexType name="itemType">
        <xs:sequence>
            <xs:element name="title" type="xs:string" maxOccurs="1" minOccurs="1" />
            <xs:element name="path" minOccurs="1" maxOccurs="1" type="pathType">
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="itemType">
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="guidType" use="required" />
        <xs:attribute name="isNew" type="xs:boolean" use="required" />
        <xs:attribute name="visible" type="xs:boolean" use="required" />
        <xs:attribute name="revision" type="xs:unsignedShort" use="required" />
    </xs:complexType>
    <xs:complexType name="pathType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="include" type="xs:IDREFS" use="optional" />
                <xs:attribute name="format" type="formatType" use="optional" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="guidType">
        <xs:restriction base="xs:string">
            <xs:pattern value="^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="formatType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="None" />
            <xs:enumeration value="MamlDoc" />
            <xs:enumeration value="HtmlDoc" />
        </xs:restriction>
    </xs:simpleType>
</xs:schema>